body {
    background-color: #aabbc1;
}

h1 { 
    color: #000000;
    text-align: center;

}

p {
    color: #000000;
}

p1 {
    color: #000000;
    font family: 'Abril Fatface', cursive;
    p.dotted {border-style: dotted;}
    text-align: center;    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

img {
max-width: 100%;
}

